/* COLOR PALETTE
#717171
#c9c9c9
#FFE180
#e8ba25
#9ad3de
#89bdd3
#284f5f
#252839
*/

@import url('https://fonts.googleapis.com/css?family=Dosis|Yanone+Kaffeesatz');


* {
	margin:0;
	padding:0;
	border-width:0;
}

div, input, form, button {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

input, input::placeholder {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

div.container {
  background-color: #89bdd3;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}


/*-----------------------------------------------------------------------------
                                  FLEXBOX LAYOUT
-----------------------------------------------------------------------------*/

div.header {
  width: 100%;
  min-width: 300px;
  height: 12%;
  padding-left: 1%;
}

div.chat-log-container {
  padding: 1%;
  width: 80%;
  height: 70%;
}

div.chat-log-box {
  padding: 1%;
  border: 1px solid #717171;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

div.users-container {
  padding: 1%;
  padding-left: 0%;
  width: 20%;
  height: 70%;
}

div.users-box {
  border: 1px solid #717171;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
	overflow: scroll;
}

div.input-container {
  padding: 1%;
  padding-top: 0%;
  width: 100%;
  height: 18%;
}

div.message {
  display: block;
  padding-bottom: 0.5%;
  text-align: justify;
}

form.input-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

input.chat-input-box {
  padding: 2%;
  margin-right: 1%;
  border: 1px solid #717171;
  background-color: #ffffff;
  width: 84%;
  height: 100%;
}

button.send-button {
  padding: 1%;
  border: 1px solid #717171;
  background-color: #FFE180;
  color: #252839;
  width: 15%;
  height: 100%;
  font-size: 20px;
}

ul.users-list {
  list-style-type: none;
  padding: 5%;
}

/**************************** LOGIN SCREEN ************************************/
.login-dialog-box {
	width: 100%;
	height: 100%;
	background-color: #89bdd3;
}
.header-big {
	text-align: center;
	font-size: 18vw;
}
.form-container {
	width: 20vw;
	height: 20vw;
	padding: 3%;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
}
.login-form {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 2em;
	text-align: center;
}
.login-input {
	padding: 0.5em;
	text-align: center;
	margin-bottom: 5%;
}
.login-input::placeholder {
	padding: 0.5em;
	color: coral;
}
.login-button{
	border: 1px solid black;
	width: 3em;
	height: 3em;
	border-radius: 50%;
}


/*-----------------------------------------------------------------------------
                                        FONTS
-----------------------------------------------------------------------------*/

h1.header-text {
  font-size: 12vh;
	font-style:normal;
	font-weight:normal;
  color: #252839;
}

p, strong, em, span, li {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}

p.users-header {
  background-color: #FFE180;
  color: #252839;
  border-bottom: 1px solid #717171;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.7em;
	text-align: center;
}

strong.message-sent-by {
  color: #284f5f;
}

em.message-sent-at {
  padding-left: 0.2%;
  color: #e8ba25;
}

span.message-sent {
  padding-left: 0.5%;
}

/*-----------------------------------------------------------------------------
                                  MEDIA QUERIES
-----------------------------------------------------------------------------*/

/* @media screen and (max-width: 700px) {
  .chat-log-container {
    width: 70%;
    height: 76%;
  }
  .users-container {
    width: 30%;
    height: 76%;
  }
  .input-container {
    height: 12%;
  }
}

@media screen and (max-width: 420px) {
  .chat-log-container {
    width: 100%;
    height: 60%;
    order: 1;
  }
  .users-container {
    padding: 1%;
    padding-top: 0;
    padding-right: 0;
    width: 30%;
    height: 28%;
    order: 2;
  }
  .input-container {
    padding: 1%;
    padding-top: 0;
    width: 70%;
    height: 28%;
    order: 3;
  }
  .input-form {
    border-bottom: 1px;
  }
  .chat-input-box {
    margin: 0;
    width: 100%;
    height: 80%;
  }
  .send-button {
    margin-top: 1%;
    width: 100%;
    height: 19%;
  }
  p.users-header {
    font-size: 1.5em;
  }

} */
